@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  border: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; 
}
.gettoknow{
  font-size: 50px;
  text-align: center;
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 400;
}
.f-center, .back-side, .back-side::before, .back-side::after, .header-banner, .content .loading-wrapper .loading, .watches-section, .watches, .watch-bands,
.watch-cases, .watch-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
}

.header {
  width: 100%;
  height: 100vh;
  margin-bottom: -850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0); }



.controls {
  position: absolute;
  bottom: -15rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  border: 1rem solid rgba(0, 0, 0, 0.8); }
  .controls a {
    position: absolute; }
    .controls a:nth-child(1) {
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .controls a:nth-child(2) {
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .controls a:nth-child(3) {
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .controls a:nth-child(4) {
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .controls a:nth-child(5) {
      top: 10%;
      right: 10%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .controls a:nth-child(6) {
      bottom: 10%;
      left: 10%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .controls a i {
      font-size: 1.5rem;
      color: #6edae6;
      opacity: 0.5;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .controls a:hover i {
      opacity: 1; }



.watches-section {
  height: 140vh;
  padding: 20vh 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.watches {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .watches > div {
    position: absolute; }

.watch-bands {
  -webkit-transition: margin-right 1s;
  transition: margin-right 1s; }

.watch-cases {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s; }

.watch-band-img,
.watch-case-img {
  width: 35rem;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain; }

.watch-control {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: rgba(221, 221, 221, 0.4);
  border-radius: 5rem; }
  .watch-control i {
    font-size: 3rem;
    color: #6edae6; }

.hideControl {
  opacity: 0;
  visibility: hidden; }

.watch-top-control {
  top: 22vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.watch-right-control {
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.watch-bottom-control {
  left: 50%;
  bottom: 20vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.watch-left-control {
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.watch-btn {
  position: absolute;
  bottom: 35vh;
  right: 35%;
  width: 13rem;
  height: 5rem;
  background-color: #000;
  color: #6edae6;
  border: 0.1rem dashed #fff;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 200;
  cursor: pointer; 
}


@media (max-width: 1500px) {
  html {
    font-size: 45%; } }

@media (max-width: 1500px) {
  html {
    font-size: 40%; }
  .navbar-link {
    font-weight: 700; }
  .header-banner h1 {
    font-size: 8rem; }
  .header-banner p {
    font-size: 3rem; } }

@media (max-width: 900px) {
  .macbook-section .content {
    width: 90%; }
    .macbook-section .content .loading-wrapper {
      width: 70%; }
      .macbook-section .content .loading-wrapper .loading i {
        font-size: 6rem; }
  .footer {
    font-size: 12rem; } }

@media (max-width: 700px) {
  .logo {
    top: 0;
    left: 2rem; }
    .logo i {
      font-size: 8rem; }
  .controls {
    display: none; }
  .cube-wrapper {
    opacity: 0.7; }
  .cube {
    top: 3rem; }
  .header-banner {
    position: absolute; }
    .header-banner h1 {
      position: relative;
      left: -5rem; }
    .header-banner h1::first-letter {
      visibility: hidden;
      opacity: 0; }
    .header-banner button:hover {
      -webkit-clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%);
              clip-path: polygon(50% 0%, 81% 5%, 100% 0, 100% 100%, 80% 95%, 50% 100%, 20% 95%, 0 100%, 0 0, 23% 5%); }
  .iphones-section .iphones {
    height: 70vh;
    width: 70vw; }
  .watch-btn {
    right: 25%; }
  .airpods .airpods-img-1 {
    display: none; }
  .airpods .airpods-img-2 {
    width: 100%; }
  .airpods-btn {
    background-color: #fff;
    color: #6edae6;
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #ddd;
            box-shadow: 0.1rem 0.1rem 0.1rem #ddd; }
  .footer .icon-link {
    margin: 0 2rem; } }

@media (max-width: 550px) {
  .navbar .navbar-link {
    margin: 0 1.5rem; }
  .iphones-section {
    font-size: 8rem; }
  .macbook-section {
    font-size: 8rem; }
    .macbook-section .content .macbook-info-heading {
      font-size: 5rem; }
    .macbook-section .content .macbook-info .macbook-btn {
      width: 15rem;
      height: 3rem;
      font-size: 1.3rem; }
  .airpods-btns {
    width: 50rem;
    text-align: center; }
  .footer .icon-link img {
    width: 8rem; } }

@media (max-width: 450px) {
  html {
    font-size: 35%; }
  .logo {
    top: 10rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .navbar {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .header-banner p {
    text-align: center; }
  .iphones-section .iphones {
    width: 75vw; }
  .macbook-section h1 {
    font-size: 6rem; }
  .macbook-section .content .macbook-info {
    width: 40rem; }
    .macbook-section .content .macbook-info-heading {
      font-size: 3rem; }
    .macbook-section .content .macbook-info .macbook-price {
      font-size: 2rem;
      font-weight: 300; }
  .watch-btn {
    right: 15%; }
  .footer .icon-link img {
    width: 6rem; } }
